<%- contentFor('body') %>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let temp = location.href.split('?');
        console.log(temp);
        let list = temp[1].split('=');
        console.log(list);
        let listNum = list[1];
        console.log(parseInt(listNum));
        axios
            .get(`/board?listNum=${listNum}`)
            .then(res => {
                console.log(res);
            })
            .catch();
    });
</script>
<h1>board</h1>
<div></div>
