<%- contentFor('body') %>
<script>
    const view = 5;
    let first = 0;
    window.onload = () => {
        printBoard(first);
    };
    const printBoard = first => {
        paging();
        console.log(first);
        axios.get(`/getBoardLists?first=${first}&view=${view}`).then(res => {
            // console.log(res);
            let length = res.data[0].length;
            for (let a = 0; a < length; a++) {
                let seq = res.data[0][a].seq;
                let title = res.data[0][a].title;
                let regdate = res.data[0][a].regdate;
                let name = res.data[0][a].name;
                let hit = res.data[0][a].hit;
                let dataArray = new Array(seq, title, regdate, name, hit);
                let arrLength = dataArray.length;

                const tbody = document.getElementById('boardList');
                for (let b = 0; b < 1; b++) {
                    let row = document.createElement('tr');
                    tbody.appendChild(row);
                    for (let c = 0; c < 5; c++) {
                        const cell = document.createElement('td');
                        let cellItem = document.createTextNode(
                            `${dataArray[c]}`
                        );
                        row.appendChild(cell);
                        cell.appendChild(cellItem);
                    }
                }
            }
        });
    };
    const paging = () => {
        axios.get(`/getBoardLists?first=${first}&view=${view}`).then(res => {
            // console.log(res);
            let count = res.data[1][0].ctn;
            let totalPage = parseInt(count / view) + 1;

            let btnArea = document.getElementById('inputArea');
            for (let a = 1; a <= totalPage; a++) {
                const btn = document.createElement('button');
                let btnItem = document.createTextNode(`${a}`);
                btn.setAttribute(`type`, `button`);
                btn.setAttribute(`class`, `pageBtn`);
                btn.setAttribute(`value`, `${a}`);
                let btnForm = document.getElementsByClassName('pageBtn');
                let btnVal = btnForm;
                let btnVal2 = btnForm;
                console.log(btnVal);
                console.log(btnVal2);
                btn.setAttribute(`onclick`, `printBoard(${first})`);
                btnArea.appendChild(btn);
                btn.appendChild(btnItem);
            }
        });
    };
</script>

<h1>main page.</h1>
<div style="width: 1200px; margin: 0 auto;">
    <table>
        <thead>
            <th>No.</th>
            <th>Title</th>
            <th>RegiDate</th>
            <th>name</th>
            <th>Hit</th>
        </thead>
        <tbody id="boardList"></tbody>
    </table>
    <div id="inputArea"></div>
</div>
