<%- contentFor('body') %>
<script>
    window.onload = () => {
        axios
            .get('/getBoardLists')
            .then(res => {
                let length = res.data.length;

                // 페이징
                let pageCount = parseInt(length / 5) + 1;
                const inputArea = document.getElementById('inputArea');
                for (let y = 1; y < pageCount + 1; y++) {
                    inputBtn = document.createElement('a');
                    inputBtn.innerHTML = '<a href="/' + y + '">' + y + '</a>';
                    inputBtn.id = 'inputBtn';
                    document.getElementById('inputBtn');
                    inputArea.appendChild(inputBtn);
                    // console.log(id);
                }

                // if (pa) {
                // }
                for (let i = 0; i <= length - 1; i++) {
                    let seq = res.data[i].seq;
                    let title = res.data[i].title;
                    let content = res.data[i].content;
                    let regdate = res.data[i].regdate;
                    let modidate = res.data[i].modidate;
                    let name = res.data[i].name;
                    let hit = res.data[i].hit;

                    // 등록 시간 표현
                    let regDate = new Date(regdate);
                    let mounth = regDate.getMonth() + 1;
                    let date = regDate.getDate();
                    if (date < 10) {
                        date = '0' + date;
                    }
                    let hours = regDate.getHours();
                    let minutes = regDate.getMinutes();
                    if (minutes < 10) {
                        minutes = '0' + minutes;
                    }
                    let seconds = regDate.getSeconds();
                    let compareTime = new Date().getDate();
                    let past = `${mounth}-${date}`;
                    let today = `${hours}:${minutes}`;
                    if (compareTime == date) {
                        regdate = today;
                    } else {
                        regdate = past;
                    }
                    if (modidate == null) {
                        modidate = '';
                    }
                    let dataArray = new Array(seq, title, regdate, name, hit);
                    // console.log(dataArray);
                    // console.log(length);
                    // let length = res.data
                    // console.log(seq, title, content, regdate, modidate, name, hit);

                    const boardList = document.getElementById('boardList');
                    for (let x = 0; x < 1; x++) {
                        const row = document.createElement('tr');
                        boardList.appendChild(row);
                        for (let j = 0; j <= 4; j++) {
                            const cell = document.createElement('td');
                            const cellText = document.createTextNode(
                                `${dataArray[j]}`
                            );
                            row.appendChild(cell);
                            cell.appendChild(cellText);
                        }
                    }
                }
            })
            .catch(e => {
                console.log(e);
            });
    };
</script>

<h1>main page.</h1>
<div style="width: 1200px; margin: 0 auto;">
    <table>
        <thead>
            <th>No.</th>
            <th>Title</th>
            <th>RegiDate</th>
            <th>name</th>
            <th>Hit</th>
        </thead>
        <tbody id="boardList"></tbody>
    </table>
    <div id="inputArea"></div>
</div>
