<%- contentFor('body') %>
<script>
    let firstList = 0;
    const viewList = 5;
    window.onload = () => {
        clickEvent();
        axios
            .get(
                '/getBoardLists?firstList=' +
                    firstList +
                    '&viewList=' +
                    viewList
            )
            .then(res => {
                let length = res.data[0].length;
                let ctn = res.data[1][0].ctn;
                let totalPage = parseInt(ctn / viewList) + 1;
                for (let i = 0; i < length; i++) {
                    let seq = res.data[0][i].seq;
                    let title = res.data[0][i].title;
                    let content = res.data[0][i].content;
                    let regdate = res.data[0][i].regdate;
                    let modidate = res.data[0][i].modidate;
                    let name = res.data[0][i].name;
                    let hit = res.data[0][i].hit;
                    // 등록 시간 표현
                    let regDate = new Date(regdate);
                    let mounth = regDate.getMonth() + 1;
                    let date = regDate.getDate();
                    if (date < 10) {
                        date = '0' + date;
                    }
                    let hours = regDate.getHours();
                    let minutes = regDate.getMinutes();
                    if (minutes < 10) {
                        minutes = '0' + minutes;
                    }
                    let seconds = regDate.getSeconds();
                    let compareTime = new Date().getDate();
                    let past = `${mounth}-${date}`;
                    let today = `${hours}:${minutes}`;
                    if (compareTime == date) {
                        regdate = today;
                    } else {
                        regdate = past;
                    }
                    if (modidate == null) {
                        modidate = '';
                    }
                    let dataArray = new Array(seq, title, regdate, name, hit);
                    // 리스트 출력부
                    const boardList = document.getElementById('boardList');
                    for (let x = 0; x < 1; x++) {
                        const row = document.createElement('tr');
                        boardList.appendChild(row);
                        for (let j = 0; j <= 4; j++) {
                            const cell = document.createElement('td');
                            const cellText = document.createTextNode(
                                `${dataArray[j]}`
                            );
                            row.appendChild(cell);
                            cell.appendChild(cellText);
                        }
                    }
                } // 버튼 생성부
                const inputArea = document.getElementById('inputArea');
                for (let a = 0; a < totalPage; a++) {
                    const inputBtn = document.createElement('div');
                    inputArea.appendChild(inputBtn);
                    const inputNum = document.createTextNode(a + 1);
                    console.log(inputNum);
                    inputBtn.setAttribute(
                        'onclick',
                        `clickEvent(${firstList},${totalPage})`
                    );
                    inputBtn.setAttribute('id', 'inputBtn');
                    inputBtn.setAttribute('value', a);
                    inputBtn.appendChild(inputNum);
                }
            })
            .catch(e => {
                console.log(e);
            });
    };
    const clickEvent = (firstList, totalPage) => {
        console.log(document.getElementById('inputBtn').getAttribute('value'));
        console.log(firstList);
        axios
            .get(
                '/getBoardLists?firstList=' +
                    firstList +
                    '&viewList=' +
                    viewList
            )
            .then(res => {
                let length = res.data[0].length;
                let ctn = res.data[1][0].ctn;
                let totalPage = parseInt(ctn / viewList) + 1;
                let tbody = document.getElementById('boardList');
                tbody.innerHTML = '';

                for (let i = 0; i < length; i++) {
                    let seq = res.data[0][i].seq;
                    let title = res.data[0][i].title;
                    let content = res.data[0][i].content;
                    let regdate = res.data[0][i].regdate;
                    let modidate = res.data[0][i].modidate;
                    let name = res.data[0][i].name;
                    let hit = res.data[0][i].hit;

                    // 등록 시간 표현
                    let regDate = new Date(regdate);
                    let mounth = regDate.getMonth() + 1;
                    let date = regDate.getDate();
                    if (date < 10) {
                        date = '0' + date;
                    }
                    let hours = regDate.getHours();
                    let minutes = regDate.getMinutes();
                    if (minutes < 10) {
                        minutes = '0' + minutes;
                    }
                    let seconds = regDate.getSeconds();
                    let compareTime = new Date().getDate();
                    let past = `${mounth}-${date}`;
                    let today = `${hours}:${minutes}`;
                    if (compareTime == date) {
                        regdate = today;
                    } else {
                        regdate = past;
                    }
                    if (modidate == null) {
                        modidate = '';
                    }
                    let dataArray = new Array(seq, title, regdate, name, hit);

                    // 리스트 출력부
                    const boardList = document.getElementById('boardList');
                    for (let x = 0; x < 1; x++) {
                        const row = document.createElement('tr');
                        boardList.appendChild(row);
                        for (let j = 0; j <= 4; j++) {
                            const cell = document.createElement('td');
                            const cellText = document.createTextNode(
                                `${dataArray[j]}`
                            );
                            row.appendChild(cell);
                            cell.appendChild(cellText);
                        }
                    }
                }
            })
            .catch(e => {
                console.log(e);
            });
        const inputArea = document.getElementById('inputArea');
        for (let a = 0; a < totalPage; a++) {
            const inputBtn = document.createElement('div');
            inputArea.appendChild(inputBtn);
            const inputNum = document.createTextNode(a + 1);
            console.log(inputNum);
            inputBtn.setAttribute('onclick', `clickEvent(${firstList})`);
            inputBtn.setAttribute('id', 'inputBtn');
            inputBtn.setAttribute('value', a);
            inputBtn.appendChild(inputNum);
        }
    };
</script>

<h1>main page.</h1>
<div style="width: 1200px; margin: 0 auto;">
    <table>
        <thead>
            <th>No.</th>
            <th>Title</th>
            <th>RegiDate</th>
            <th>name</th>
            <th>Hit</th>
        </thead>
        <tbody id="boardList"></tbody>
    </table>
    <div id="inputArea"></div>
</div>
