#boardList {
    text-align: center;
}
table {
    margin: 0 auto;
}
tbody > tr:nth-child(1) > td:nth-child(2) {
    width: 800px;
}
#inputArea {
    width: 500px;
    height: 30px;
    margin: 0 auto;
}
#inputBtn {
    width: 100px;
    margin: 0 15px;
    float: left;
}
#boardList > tr > td > a {
    text-decoration: none;
    color: black;
}
